In [1]:
from sklearn.datasets import load_boston

X, y = load_boston(return_X_y=True)

X_train, y_train = X[:400], y[:400]
X_valid, y_valid = X[400:450], y[400:450]
X_test, y_test = X[450:], y[450:]
print(X_train.shape, X_valid.shape, X_test.shape)

(400, 13) (50, 13) (56, 13)

In [9]:
X_test[0], y_test[0]

(13,)

In [3]:
import pandas as pd

df = pd.DataFrame(X_train)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,1.750859,14.375000,9.416350,0.08750,0.530119,6.336232,64.081750,4.199694,6.617500,349.780000,18.004500,379.854450,11.250575
std,5.987782,25.397726,6.511713,0.28292,0.113920,0.733711,28.990673,2.177279,6.303215,128.403447,2.220565,40.692472,6.770453
min,0.006320,0.000000,0.460000,0.00000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,70.800000,1.730000
25%,0.066098,0.000000,4.125000,0.00000,0.442000,5.890500,37.675000,2.341350,4.000000,276.000000,16.600000,381.187500,6.285000
50%,0.160735,0.000000,7.015000,0.00000,0.505500,6.227500,68.750000,3.876050,5.000000,307.000000,18.400000,392.525000,9.605000
75%,0.731915,21.000000,13.920000,0.00000,0.581000,6.686250,91.900000,5.658650,6.000000,403.000000,20.200000,396.540000,14.477500
max,88.976200,100.000000,25.650000,1.00000,0.871000,8.780000,100.000000,12.126500,24.000000,666.000000,22.000000,396.900000,37.970000

In [4]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

model = XGBRegressor(n_estimators=100, max_depth=8)
model.fit(X_train, y_train,
          eval_metric="rmse",
          eval_set=[(X_valid, y_valid)],
          early_stopping_rounds=10)

mean_squared_error(y_test, model.predict(X_test), squared=True)

[0]	validation_0-rmse:9.90863
[1]	validation_0-rmse:7.49255
[2]	validation_0-rmse:5.81100
[3]	validation_0-rmse:4.88996
[4]	validation_0-rmse:4.54206
[5]	validation_0-rmse:4.40958
[6]	validation_0-rmse:4.35129
[7]	validation_0-rmse:4.37491
[8]	validation_0-rmse:4.35767
[9]	validation_0-rmse:4.35525
[10]	validation_0-rmse:4.31976
[11]	validation_0-rmse:4.28887
[12]	validation_0-rmse:4.22968
[13]	validation_0-rmse:4.23766
[14]	validation_0-rmse:4.26021
[15]	validation_0-rmse:4.28652
[16]	validation_0-rmse:4.27238
[17]	validation_0-rmse:4.26637
[18]	validation_0-rmse:4.25097
[19]	validation_0-rmse:4.25214
[20]	validation_0-rmse:4.25369
[21]	validation_0-rmse:4.24403
[22]	validation_0-rmse:4.24932

16.424260923499656

In [5]:
model.save_model("xgbregressor_boston.json")

In [6]:
inference_model = XGBRegressor()
inference_model.load_model("xgbregressor_boston.json")

mean_squared_error(y_test, inference_model.predict(X_test), squared=True)

16.424260923499656

In [16]:
import numpy as np

mean_squared_error(
    np.array([y_test[0]]),
    inference_model.predict(np.expand_dims(X_test[0], axis=0)), squared=True)

72.28654102653323